@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
  color-scheme: dark;
}

* {
  scroll-behavior: smooth
}

@layer base {
  body {
    @apply font-sans bg-n-8 text-n-1 text-base;
  }
}

.rotate-45 {
  @apply rotate-[45deg]
}

.rotate-90 {
  @apply rotate-[90deg]
}

.rotate-135 {
  @apply rotate-[135deg]
}

.rotate-180 {
  @apply rotate-[180deg]
}

.rotate-225 {
  @apply rotate-[225deg]
}

.rotate-270 {
  @apply rotate-[270deg]
}

.rotate-315 {
  @apply rotate-[315deg]
}

.rotate-360 {
  @apply rotate-[360deg]
}

.-rotate-45 {
  @apply rotate-[-45deg]
}

.-rotate-90 {
  @apply rotate-[-90deg]
}

.-rotate-135 {
  @apply rotate-[-135deg]
}

.-rotate-180 {
  @apply rotate-[-180deg]
}

.-rotate-225 {
  @apply rotate-[-225deg]
}

.-rotate-270 {
  @apply rotate-[-270deg]
}

.-rotate-315 {
  @apply rotate-[-315deg]
}

.-rotate-360 {
  @apply rotate-[-360deg]
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 50px 20px;
  background: radial-gradient(circle at 50% 50%, #00ff94, #720059),
    linear-gradient(121deg, #669600, #ff0000),
    linear-gradient(360deg, #0029ff, #8fff00),
    radial-gradient(circle at 100% 100%, #6100ff, #00ff57),
    radial-gradient(circle at 0% 0%, #fff500, #51d500);
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
}

.testimonial-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  overflow: hidden;
}

.testimonial-item {
  text-align: center;
  margin: 20px;
  max-width: 300px;
  flex: 1;
}

.testimonial-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.testimonial-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.quote-icon {
  position: absolute;
  font-size: 100px;
  color: white;
}

.quote-left {
  top: -20px;
  left: 10px;
}

.quote-right {
  bottom: -20px;
  right: 10px;
}

h4 {
  font-size: 1.5rem;
  margin: 10px 0;
}

p {
  font-size: 1rem;
  color: #666;
}